<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>8597216042-7io8t1825dbmnbeapf6r0a1ok9i6riju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8597216042-7io8t1825dbmnbeapf6r0a1ok9i6riju</string>
	<key>API_KEY</key>
	<string>AIzaSyA4uWhF8RwdZGjhhUob-K-33nx9i-lxXJc</string>
	<key>GCM_SENDER_ID</key>
	<string>8597216042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Liveperson.Get-Pro</string>
	<key>PROJECT_ID</key>
	<string>get-pro-990d4</string>
	<key>STORAGE_BUCKET</key>
	<string>get-pro-990d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:8597216042:ios:a5216510b26a4b99</string>
	<key>DATABASE_URL</key>
	<string>https://get-pro-990d4.firebaseio.com</string>
</dict>
</plist>